.overall {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 40px 0;
}

.item-inputs {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Poppins, sans-serif;

}

.form-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

.form-input label {
  font-weight: bold;
}

.form-input input {
  width: 120px;
  padding: 5px;
  border: 1px solid #9e9797;
  border-radius: 3px;
  
}

.add-btn {
  padding: 6px 12px;
  border: none;
  color: white;
  background-color: #007bff;
  border-radius: 3px;
  cursor: pointer;
}

.item-list {
  border: 1px solid #242323;
  padding-top: 10px;
  width: 100%;
  margin-top: 20px;
}

.items-table {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #383636;
}

.item-name,
.item-quantity,
.item-price {
  width: 30%;
  text-align: center;
}

.total-price {
  font-weight: bold;
  margin-top: 15px;
  text-align: right;
  
}
